services:
  - type: web
    name: stonearts-webshop
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    branch: main
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production

